@import "tailwindcss";

:root {
  --light-base: #eff1f5;
  --light-surface: #ccd0da;
  --light-text: #4c4f69;
  --light-subtext1: #5c5f77;
  --light-subtext2: #6c6f85;

  --dark-base: #1e1e2e;
  --dark-surface: #313244;
  --dark-text: #cdd6f4;
  --dark-subtext: #bac2de;
  --dark-subtext2: #a6adc8;

  --extra-base: #303446;
  --extra-surface: #414559;
  --extra-text: #c6d0f5;
  --extra-subtext1: #b5bfe2;
  --extra-subtext2: #a5adce;

  --blue-accent: #6e8edf;
  --soft-modern-blue: #4084f9;
}

@layer base {
  :root {
    --bg: var(--light-base);
    --surface: var(--light-surface);
    --text: var(--light-text);
    --subtext1: var(--light-subtext1);
    --subtext2: var(--light-subtext2);
  }

  .extra {
    --bg: var(--extra-base);
    --surface: var(--extra-surface);
    --text: var(--extra-text);
    --subtext1: var(--extra-subtext1);
    --subtext2: var(--extra-subtext2);
  }

  .dark {
    --bg: var(--dark-base);
    --surface: var(--dark-surface);
    --text: var(--dark-text);
    --subtext1: var(--dark-subtext1);
    --subtext2: var(--dark-subtext2);
  }

  body {
    background-color: var(--bg);
    color: var(--text);
    -webkit-font-smoothing: antialiased;
  }

  button {
    @apply cursor-pointer;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25;

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  }

  p {
    font-size: 1rem;

    @media (max-width: 768px) {
      font-size:1rem;
    }
  }

}


@theme inline {
  --color-blue-accent: var(--blue-accent);
  --color-soft-modern-blue: var(--soft-modern-blue);
  --color-surface: var(--surface);



  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-txt-color: var(--txt-color);
}

@keyframes wobble {

  0%,
  100% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(-5deg);
  }

  30% {
    transform: rotate(4deg);
  }

  45% {
    transform: rotate(-3deg);
  }

  60% {
    transform: rotate(2deg);
  }

  75% {
    transform: rotate(-1deg);
  }
}

@keyframes fade {

  0%, 100% {
    color: var(--text);
    opacity:0.3;
  }
  50% {
    color: var(--text);
    opacity:1;
  }

}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}



.animate-gradient {

  background-image: linear-gradient(90deg, #0ea5ff 0%, #60a5fa 25%, #93c5fd 50%, #60a5fa 75%, #1e3a8a 100%);
  background-size: 200% 100%;
  animation: gradient 6s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.wobble {
  animation: wobble 0.8s ease-in-out;
}

.fade {
  animation: fade 1.5s ease-in-out infinite;
}




/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


.glass {

  backdrop-filter: blur(30px);
}