@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --txt-color: rgb(126,126,126);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-txt-color: var(--txt-color);
}

@keyframes wobble {
  0%, 100% { transform: rotate(0deg); }
  15% { transform: rotate(-5deg); }
  30% { transform: rotate(4deg); }
  45% { transform: rotate(-3deg); }
  60% { transform: rotate(2deg); }
  75% { transform: rotate(-1deg); }
}

@keyframes fade {
  0%, 100% { color: var(--txt-color)}
  50% {color: black}
}

@keyframes gradient {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}



.animate-gradient {

  background-image: linear-gradient(90deg, #0ea5ff 0%, #60a5fa 25%, #93c5fd 50%, #60a5fa 75%, #1e3a8a 100%);
  background-size: 200% 100%;     
  animation: gradient 6s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;   
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.wobble {
  animation: wobble 0.8s ease-in-out;
}

.fade {
  animation: fade 1.5s ease-in-out infinite;
}





/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
